#text-area{
	width: 280px;
	height: 380px;
	float: left;
}

#view{
	width: 280px;
	height: 380px;
	float: right;
	word-wrap: break-word;
	line-height: 128%;
}

textarea{
	width: 280px;
	height: 100px;
	resize: none;
	margin-bottom: 5px;
}
